@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

 .v-middle {
     vertical-align: middle;
 }

 .texto {
     font-size: 1rem;
 }

.cardbox {
    border-radius: 20px;
}
.buttonbox{
    border-radius: 10px;
}
.semborder {
    border: 0;
}
