 .v-middle {
     vertical-align: middle;
 }

 .sair {
     position: fixed;
     bottom: 0;
     display: flex;
     justify-content: flex-end;
 }

 .texto {
     font-size: 1rem;
 }

 .gap-card{
    margin-left: 2px !important;
 }

.cardbox {
    border-radius: 20px;

}